# Put your Spoonacular & Gemini API keys here
SPOONACULAR_KEY=spoonacular_key_here
GEMINI_KEY=gemini_key_here

# Base URLs for the APIs. Spoonacular uses a forward slash after the base URL.
SPOONACULAR_BASE_URL=https://api.spoonacular.com/recipes
