# Put your Spoonacular & Kroger API keys here
SPOONACULAR_KEY=spoonacular_key_here
KROGER_CLIENT_ID=kroger_client_id
KROGER_CLIENT_SECRET=kroger_client_secret

# Base URLs for the APIs. Spoonacular uses a forward slash after the base URL, while Kroger uses a question mark to filter.
SPOONACULAR_BASE_URL=https://api.spoonacular.com/recipes
KROGER_BASE_URL=https://api.kroger.com/v1/products
